<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>O autorze</title>
</head>

<body>
  <div class="container mt-5">
    <h1>O autorze</h1>

    <div class="row">
      <div class="col-md-4">
        <img src="autor.jpg" alt="Autor" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h3>Majkel Fedorek</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus, neque ac pulvinar scelerisque,
          justo ligula porta mi, vel posuere risus enim sed dolor. Fusce dictum, odio in volutpat vestibulum, enim
          tellus condimentum leo, at convallis eros tortor a justo.</p>
        <p>Phasellus at tempor risus. Ut varius ligula ac justo tempus, in suscipit mi tristique. Sed sed elit in
          mi consectetur faucibus. Donec ullamcorper ullamcorper quam, ac cursus ipsum maximus sit amet. Aenean
          feugiat tincidunt justo. Cras pretium scelerisque magna id viverra. Morbi pulvinar ultrices nunc ac
          elementum.</p>
        <p>Etiam rhoncus eros et risus elementum, vitae maximus nunc commodo. Nulla facilisi. Integer convallis
          venenatis dolor, ut scelerisque sem tempus non. Mauris iaculis dui ac dui dignissim dignissim. Nunc
          tincidunt iaculis leo ac iaculis. Aliquam a ultrices orci.</p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
