<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Lista produktów</title>
</head>

<body>
  <div class="container mt-5">
    <h1>Lista produktów</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-4">
            <h5>Produkt 1</h5>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-primary">Liczba opinii: 10</span>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-danger">Liczba wad: 5</span>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-success">Liczba zalet: 8</span>
          </div>
          <div class="col-sm-1">
            <span class="badge badge-warning">Średnia ocena: 4.5</span>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">CSV</a>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">XLSX</a>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">JSON</a>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-4">
            <h5>Produkt 2</h5>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-primary">Liczba opinii: 20</span>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-danger">Liczba wad: 10</span>
          </div>
          <div class="col-sm-2">
            <span class="badge badge-success">Liczba zalet: 15</span>
          </div>
          <div class="col-sm-1">
            <span class="badge badge-warning">Średnia ocena: 4.2</span>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">CSV</a>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">XLSX</a>
          </div>
          <div class="col-sm-1">
            <a href="#" class="btn btn-primary btn-sm">JSON</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <script src
